.hospital {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 90px 0px 0px 0px;
  padding: 30px;
  flex-direction: column;
  /* height: 100vh; */
}

.hospital h1 {
  text-align: center;
  width: 100%;
  font-size: 4rem;
}

.hospital p {
  margin: 30px;
  font-size: 2rem;
}